<table class="table">
  <thead>
    <tr>
      
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      
      <td><%= article.title %></td>
      <td><%= article.description%></td>
      <td><%=link_to 'show',article_path(article) %></td>
    </tr>
    <% end %>
    
  </tbody>
</table>
<%= link_to "create Article",new_article_path %>
<br>
<%=link_to "home page",root_path %>
<h1 class="head" >aa</h1>