<table class="table">
  <thead>
    <tr>
      
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">placeholder</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td><%= @article.title %></td>
      <td><%= @article.description%></td>
      <td><%=link_to 'edit',edit_article_path(@article) %></td>
      <td><%= link_to 'delete',article_path(@article), data: {turbo_method: :delete ,turbo_confirm: "Are you sure?"} %> </td>

    </tr>
    
  </tbody>
</table>
<%=link_to "home page",root_path %>